// Remove the increasing/decreasing arrows from number inputs
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control,
.btn,
.form-select,
.input-group > .btn,
.form-check-input[type="checkbox"] {
  border-radius: 0;
}
